* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f7f6ff;
}
.aParent div {
  float: left;
  clear: none; 
}

h2 {
  margin: 16px;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 2px;
  transition-duration: 0.3s;
  cursor: pointer;
}
.button1 {
  background-color: white; 
  color: black; 
  padding: 6px 12px;
  border: 2px solid #4CAF50;
  border-radius: 8px;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white; 
  color: orange; 
  padding: 6px 12px;
  border: 2px solid #FF8C00	;
  border-radius: 50%;
}

.button2:hover {
  background-color:#FF8C00	;
  color: white;
}
